<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Admin login</title>
  <style>
    .container {
      text-align: center;
    }

    .input-format {
      padding-bottom: 5px;
    }
  </style>
</head>

<body>
  <div class="container">
    <h1>Login</h1>
    <form action="/login" method="post">
      <div class="input-format"><input type="email" name="email" placeholder="Email" required></div>
      <div class="input-format"><input type="password" name="password" placeholder="Password" required></div>
      <button type="submit">Login</button>
    </form>
</body>

</html>
