<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Cart</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/simplex/bootstrap.min.css">
  <style media="screen">
    .grid-container {
      display: grid;
      grid-template-columns: auto auto;
      padding: 10px;
      grid-column-gap: 25px;
      grid-row-gap: 25px;
    }

    .grid-item {
      padding: 20px;
      font-size: 15px;
      text-align: center;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand active" href="/cart">cart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shop">shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/canvas">tp on canvas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">contact</a>
        </li>
      </ul>
    </div>
  </nav>

  <h1>Shopping cart</h1>
  <div class="grid-container">
    <% for(let i=0; i < cart.length; i++) { %>
      <div class="grid-item">
        <h1><%= cart[i].genre %></h1>
        <h2><%= cart[i].series %></h2>
        <img src="<%= cart[i].img_location %>">
        <h2>$<%= cart[i].price %></h2>
      </div>
    <%}%>

  </div>
</body>

</html>
